:root{
    --button-color: rgb(222, 226, 2);
    --button-hover: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background: rgb(51, 43, 6); */
    background: url("../asset/video.mp4");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backface-visibility: visible;
}
video{
    position: fixed;
    overflow:hidden;
    top: 0;
    left: 0;
    filter: brightness(50%);
    z-index: -1111;
}
::placeholder{
    font-size: 16px;
}
input{
    margin: 10px;
    padding: 10px 20px;
}
h2{
    color: #fff;
}
header{
    color: #fff;
    text-shadow: 0 0 10px var(--button-hover);
    line-height: 15px;
    height: 90px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.container{
    width: 100%;
    min-height: 100vh;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-login{
    border: none;
    margin: 10px;
    padding: 9px 19px;
    cursor: pointer;
    background: var(--button-color);
    border: 1px solid var(--button-color);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.btn-login:hover{
    background: transparent;
    border: 1px solid var(--button-color);
    color: var(--button-color);
}
.btn-signup{
    border: 1px solid var(--button-color);
    color: var(--button-color);
    background: transparent;
    margin: 10px;
    padding: 9px 18px;
    cursor: pointer;
    transition: 0.5s;
}
.btn-signup:hover{
    background: var(--button-color);
    color: var(--button-hover);
}
.login-dialog-box{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.signup-dialog-box{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.dialog-content{
    position: relative;
    padding: 0 3rem;
    /* max-width: 70%; */
    height: 70%;
    background: rgba(51, 43, 6);
    border: 1px solid var(--button-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-box{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
}
.close-box:hover{
    background: rgb(255, 78, 78);
    color: #fff;
}
#follow{
    display: block;
    width: 100%;
    height: 30px;
    padding: 30px 20px;
    text-align: center;
  }
  box-icon{
    display: inline-block;
    background: white;
    border-radius: 10%;
    box-shadow: 0 0 10px var(--button-color);

  }
  
